<footer class="footer text-center text-faded py-5">
    <div class="container1">
        <!-- <p class="m-0 small"><a
                href="https://wa.me/5585996112718?text=Ol%C3%A1!%20Vim%20do%20site%2C%20gostaria%20de%20saber%20mais%20sobre%20o%20servi%C3%A7o.">Whatsapp</a>
        </p> -->
        <!-- <button mat-button (click)="whatsapp()"><i class="fab fa-whatsapp"></i></button> -->
    </div>
    <div class="container">
        <p class="m-0 small">Copyright &copy; Your Website 2024</p>
    </div>
</footer>