.cardiopulmonary-assesment-container {
    padding: 5px;
}

.cardiopulmonary-assesment-title h3 {
    font-size: 18px;
    font-weight: 600;
}

.form-group textarea {
    height: 100px;
}

.form-group span {
    font-size: 14PX;
    margin-left: 4px;
    font-family: 'Roboto';
    font-weight: 500;
}

.esp-top-20 {
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    right: 2px;
    width: 100%;
    text-align: end;
}

.button-add {
    background-color: #8B4513;
    color: aliceblue;
    font-size: 16px;
}

.row {
    margin-top: 10px;
}

.pa {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vital-data {
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 2px;
    font-weight: bold;
}

.content-vital-data {
    margin-bottom: 20px;
}

.clinical-parameters {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 2px;
    font-weight: bold;
}

.cardiopulmonar-span {
    font-weight: bold;
}

.radio-label {
    font-weight: 600;
    font-size: 15px;
}

.radio {
    margin-left: 3px;
}

.cardiopulmonary-span {
    margin-left: 3px;
}

.multi-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-next {
    background-color: #8B4513;
    color: aliceblue;
    font-size: 16px;
}

.button-back {
    background-color: rgb(143, 125, 125);
    color: aliceblue;
    font-size: 16px;
    margin-right: 10px;
}

.multi-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.cardiopulmonary-assesment-container {
    padding: 5px;

    .cardiopulmonary-assesment-title {
        h3 {
            font-size: 18px;
            font-weight: 600;
        }
    }

    .footer {
        margin-top: auto; /* Empurra o footer para a parte inferior */
    }

    .multi-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;

        button {
            margin-right: 10px;
        }
    }
}

@media (max-width: 768px) {
    .cardiopulmonary-assesment-content,
    .second-screen {
        padding: 0 10px; /* Adiciona um padding lateral para evitar que os elementos se estiquem demais */
    }
}

@media (max-width: 576px) {
    .multi-button {
        flex-direction: column; /* Altera a direção dos botões para empilhados verticalmente */
        align-items: flex-start; /* Alinha os botões à esquerda */
        button {
            margin-right: 0;
            margin-bottom: 10px; /* Adiciona um espaçamento entre os botões */
        }
    }
}