<div class="cardiopulmonary-assesment-container">
    <div class="cardiopulmonary-assesment-title">
        <h3>Preenchimento de ficha de avaliação motora: </h3>
    </div>
    <div class="cardiopulmonary-assesment-content" style="overflow: hidden;" *ngIf="firstScreen">
        <form [formGroup]='formulario' style="margin-bottom: 80px;">
            <div class="row content-vital-data">
                <span class="vital-data">Dados vitais: </span>
                <div class="col-md-4">
                    <div class="form-group">
                        <span class="cardiopulmonary-span">PA: </span>
                        <div class="pa">
                            <input type="text" class="form-control" formControlName="pa" id="pa" />
                            <span>mmHg</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <span class="cardiopulmonary-span">FC: </span>
                        <div class="pa">
                            <input type="text" class="form-control" formControlName="fc" id="fc" />
                            <span>bpm</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <span class="cardiopulmonary-span">f: </span>
                        <div class="pa">
                            <input type="text" class="form-control" formControlName="f" id="f" />
                            <span>irpm</span>
                        </div>
                    </div>
                </div>
            </div>
            <span class="clinical-parameters">Parâmetros Clínicos: </span>
            <div class="row">
                <div class="col-md-6">
                    <span class="cardiopulmonary-span">Peso(Kg): </span>
                    <div class="pa">
                        <input type="text" class="form-control" formControlName="weight" id="weight" />
                    </div>
                </div>
                <div class="col-md-6">
                    <span class="cardiopulmonary-span">Altura(m): </span>
                    <div class="pa">
                        <input type="text" class="form-control" formControlName="height" id="height" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span class="cardiopulmonary-span">IMC(peso/alt²): </span>
                    <div class="pa">
                        <input type="text" class="form-control" formControlName="imc" id="imc" />
                    </div>
                </div>
                <div class="col-md-6">
                    <span class="cardiopulmonary-span">Sat O2: </span>
                    <div class="pa">
                        <input type="text" class="form-control" formControlName="sat" id="sat" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-radio-group class="radio" formControlName="hydration">
                            <label class="radio-label">Hidratação: </label>
                            <mat-radio-button class="radio-button" value="proper">Adequada</mat-radio-button>
                            <mat-radio-button class="radio-button" value="inadequate">Inadequada</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-radio-group class="radio" formControlName="cyanosis">
                            <label class="radio-label">Cianose: </label>
                            <mat-radio-button class="radio-button" value="present">Presente</mat-radio-button>
                            <mat-radio-button class="radio-button" value="absent">Ausente</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-radio-group class="radio" formControlName="perfusion">
                            <label class="radio-label">Perfusão capilar periférica: </label>
                            <mat-radio-button class="radio-button" value="proper">Adequada</mat-radio-button>
                            <mat-radio-button class="radio-button" value="inadequate">Inadequada</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-radio-group class="radio" formControlName="jaundice">
                            <label class="radio-label">Icterícia: </label>
                            <mat-radio-button class="radio-button" value="present">Presente</mat-radio-button>
                            <mat-radio-button class="radio-button" value="absent">Ausente</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-radio-group class="radio" formControlName="entry_way">
                            <label class="radio-label">Via de entrada de ar: </label>
                            <mat-radio-button class="radio-button" value="nasal">Nasal</mat-radio-button>
                            <mat-radio-button class="radio-button" value="oral">Oral</mat-radio-button>
                            <mat-radio-button class="radio-button" value="mixed">Mista</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-radio-group class="radio" formControlName="breathing_pattern">
                            <label class="radio-label">Padrão respiratório: </label>
                            <mat-radio-button class="radio-button" value="apical">Apical ou torácico</mat-radio-button>
                            <mat-radio-button class="radio-button" value="abdominal">Abdominal</mat-radio-button>
                            <mat-radio-button class="radio-button"
                                value="thoraco-abdominal">Tóraco-abdominal</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-radio-group class="radio" formControlName="breathing_range">
                            <label class="radio-label">Amplitude respiratória: </label>
                            <mat-radio-button class="radio-button" value="normal">Normal</mat-radio-button>
                            <mat-radio-button class="radio-button" value="superficial">Superficial</mat-radio-button>
                            <mat-radio-button class="radio-button" value="deep">Profunda</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span class="cardiopulmonary-span">Relação inspiração/expiração: </span>
                    <div class="pa">
                        <input type="text" class="form-control" formControlName="inspiration_exhalation"
                            id="inspiration_exhalation" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="second-screen" style="overflow: hidden;" *ngIf="!firstScreen">
        <form [formGroup]='formulario' style="margin-bottom: 80px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-radio-group class="radio" formControlName="breathing_rhythm">
                            <label class="radio-label">Ritmo respiratório: </label>
                            <mat-radio-button class="radio-button" value="regular">Regular</mat-radio-button>
                            <mat-radio-button class="radio-button" value="irregular">Irregular</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-radio-group class="radio" formControlName="cough">
                            <label class="radio-label">Tosse: </label>
                            <mat-radio-button class="radio-button" value="effective">Eficaz</mat-radio-button>
                            <mat-radio-button class="radio-button" value="ineffective">Ineficaz</mat-radio-button>

                        </mat-radio-group>
                        <mat-radio-group class="radio" formControlName="cough_second">
                            <mat-radio-button class="radio-button" value="productive">Produtiva</mat-radio-button>
                            <mat-radio-button class="radio-button" value="unproductive">Improdutiva</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group secretion">
                        <span>Aspecto da secreção: </span>
                        <textarea class="form-control" formControlName="secretion" id="secretion"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group lung_auscultation">
                        <mat-radio-group class="radio" formControlNama="lung_auscultation">
                            <label class="radio-label">Ausculta pulmonar: </label>
                            <mat-radio-button class="radio-button" value="mvf">MVF s/RA</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group obs">
                        <span>OBS: </span>
                        <textarea class="form-control" formControlName="obs" id="obs"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="select-label">Formato Tórax: </label>
                        <div class="select-container">
                            <select class="form-control select" formControlName="chest_shape" id="chest_shape">
                                <option value="">Selecione um tipo</option>
                                <option value="1">Normal</option>
                                <option value="2">Tonel</option>
                                <option value="3">Carinatum</option>
                                <option value="4">Scavatum</option>
                                <option value="5">Sinus</option>
                                <option value="6">Outros</option>
                            </select>
                            <input type="text" *ngIf="others" class="form-control" style="margin-top: 5px;"
                                formControlName="others" id="others" placeholder="Outros: " />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="select-label">Tipo de ventilação: </label>
                        <div class="select-container">
                            <select class="form-control select" formControlName="ventilationType" id="ventilationType">
                                <option value="">Selecione um tipo</option>
                                <option value="1">Nasal</option>
                                <option value="2">Oral</option>
                                <option value="3">Ar ambiente</option>
                                <option value="4">Oxigenoterapia</option>
                            </select>
                            <input type="text" *ngIf="oxygenTherapy" class="form-control" style="margin-top: 5px;"
                                formControlName="oxygenTherapy" id="oxygenTherapy" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-radio-group class="radio" formControlName="breathing_rhythm">
                            <label class="radio-label">Ritmo Ventilatório: </label>
                            <mat-radio-button class="radio-button" value="regular">Regular</mat-radio-button>
                            <mat-radio-button class="radio-button" value="irregular">Irregular</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="select-label">Padrão muscular ventilatório: </label>
                        <div class="select-container">
                            <select class="form-control select" formControlName="chest_shape" id="chest_shape">
                                <option value="">Selecione um tipo</option>
                                <option value="1">Apical</option>
                                <option value="2">Diafragmático</option>
                                <option value="3">Misto</option>
                                <option value="4">Paradoxal</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="cardiopulmonary-span">Musculatura Acessória: </span>
                        <div class="pa">
                            <span>Grau-</span>
                            <input type="text" class="form-control" formControlName="f" id="f" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="cardiopulmonary-span">Abdome: </span>
                        <div class="abdome">
                            <input type="text" class="form-control" formControlName="f" id="f" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="select-label">Sinais: </label>
                        <div class="select-container">
                            <select class="form-control select" formControlName="chest_shape" id="chest_shape">
                                <option value="">Selecione um tipo</option>
                                <option value="1">Tiragem</option>
                                <option value="2">Batimento da Asa do Nariz</option>
                                <option value="3">Cianose</option>
                                <option value="4">Outros</option>
                            </select>
                            <input type="text" *ngIf="others" class="form-control" style="margin-top: 5px;"
                                formControlName="others" id="others" placeholder="Outros: " />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="select-label">Sintomas: </label>
                        <div class="select-container">
                            <select class="form-control select" formControlName="ventilationType" id="ventilationType">
                                <option value="">Selecione um tipo</option>
                                <option value="1">Dispnéia</option>
                                <option value="2">Tontura</option>
                                <option value="3">Dor</option>
                                <option value="4">Outros</option>
                            </select>
                            <input type="text" *ngIf="oxygenTherapy" class="form-control" style="margin-top: 5px;"
                                formControlName="oxygenTherapy" id="oxygenTherapy" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="palpation-title">
                <h3>Palpação:</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="select-label">Mobilidade Torácica: </label>
                        <div class="select-container">
                            <select class="form-control select" formControlName="chest_shape" id="chest_shape">
                                <option value="">Selecione um tipo</option>
                                <option value="1">Preservada</option>
                                <option value="2">Diminuída</option>
                            </select>
                            <input type="text" *ngIf="others" class="form-control" style="margin-top: 5px;"
                                formControlName="others" id="others" placeholder="Outros: " />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="select-label">Expansibilidade Pulmonar: </label>
                        <div class="select-container">
                            <select class="form-control select" formControlName="ventilationType" id="ventilationType">
                                <option value="">Selecione um tipo</option>
                                <option value="1">Preservada</option>
                                <option value="2">Diminuída</option>
                            </select>
                            <input type="text" *ngIf="oxygenTherapy" class="form-control" style="margin-top: 5px;"
                                formControlName="oxygenTherapy" id="oxygenTherapy" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <footer class="esp-top-20">
        <mat-card>
            <mat-card-content>
                <div class="multi-button">
                    <div *ngIf="firstScreen">
                        <button mat-raised-button class="button-next" (click)="nextStep()">Próximo</button>
                    </div>
                    <div *ngIf="!firstScreen">
                        <button mat-button (click)="backStep()" class="button-back">Voltar</button>
                    </div>
                    <div *ngIf="!firstScreen">
                        <button mat-raised-button class="button-add"
                            (click)="createAssessment()"><mat-icon>person_add</mat-icon>Criar avaliação</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </footer>
</div>