<body>
    <div>
        <app-header></app-header>
    </div>
    <div class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../../../assets/intro1.jpeg" alt="..." />
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Marque sua consulta</span>
                        <span class="section-heading-lower">Agenda aberta</span>
                    </h2>
                    <p class="mb-3">Se você mora em Fortaleza e precisa de um profissional de fisioterapia competente é sua
                        chance de aproveitar
                    </p>
                    <div class="intro-button mx-auto"><a class="button btn btn btn-xl" (click)="createScheduling()">Agende agora!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Conheça mais</span>
                            <span class="section-heading-lower">Sobre nós</span>
                        </h2>
                        <p class="mb-0">Somos uma clínica de Fisioterapia e Massoterapia preparada para lhe atender e livrar de dores e melhorar seu dia-a-dia!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>