html,
body {
    height: 100%;
    overflow-y: auto;
}

.site-heading {
    margin-top: 20px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.site-heading .site-heading-upper {
    margin-top: 20px;
    display: block;
    font-size: 2rem;
    font-weight: 800;
    color: #F6E1C5;
}

.site-heading .site-heading-lower {
    margin-top: 20px;
    font-size: 4rem;
    font-weight: 100;
    line-height: 4rem;
    color: #F6E1C5;
}

body {
    background-image: linear-gradient(rgba(121, 117, 116, 0.65), rgba(131, 128, 127, 0.65)), url("../../../assets/bg1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.page-section .clearfix {
    margin-bottom: 0;
}

.page-section .clearfix {
    margin-bottom: 2rem;
}

.page-section .cta {
    margin-top: 2rem;
}

.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(230, 167, 86, 0.9);
}

.cta .cta-inner {
    position: relative;
    padding: 3rem;
    margin: 0.5rem;
}

.cta .cta-inner:before {
    border-radius: 0.5rem;
    content: "";
    position: absolute;
    top: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    border: 0.25rem solid rgba(255, 255, 255, 0.85);
    z-index: -1;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.intro {
    position: relative;
}

.section-heading {
    text-transform: uppercase;
}

.section-heading .section-heading-upper {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: block;
    font-size: 1rem;
    font-weight: 800;
}

.section-heading .section-heading-lower {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: block;
    font-size: 3rem;
    font-weight: 100;
}

.intro-text {
    background-color: #F6E1C5;
}

.intro .intro-img {
    margin-top: 20px;
    margin-right: 250px;
    max-width: 40%;
    width: 200px;
    float: right;
    height: 650px;
}

.button {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 22px;
    width: 200px;
    height: 60px;
    background-color: #E6A756;
}

@media (min-width: 260px) and (max-width: 401px) {
    .intro .intro-img {
        display: none;
    }

    .intro .intro-text {
        left: 0;
        width: 100%;
        height: auto;
        margin-top: 3rem;
        margin-bottom: 2rem;
        position: relative;
        z-index: 2;
    }

    .intro .intro-text h2 {
        margin-bottom: 1rem;
    }

    .intro .intro-text p {
        margin-bottom: 1rem;
    }

    .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: relative;
        margin-top: 2rem;
        bottom: auto;
    }
}

@media (min-width: 402px) and (max-width: 991px) {
    .intro .intro-img {
        display: none;
    }

    .intro .intro-text {
        left: 0;
        width: 100%;
        margin-top: 3rem;
        position: relative;
        margin-bottom: 2rem;
        z-index: 2;
    }

    .intro .intro-text h2 {
        margin-bottom: 1rem;
    }

    .intro .intro-text p {
        margin-bottom: 1rem;
    }

    .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: relative;
        margin-top: 2rem;
        bottom: auto;
    }
}

@media (min-width: 992px) {
    .intro .intro-img {
        width: 75%;
        float: right;
    }

    .intro .intro-text {
        left: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
    }

    .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
    }
}

@media (min-width: 1200px) {
    .intro .intro-text {
        width: 45%;
    }
}

.landing-page-container {
    margin-top: -80px;
}