.button-add {
    background-color: #3B93C8;
    color: aliceblue;
    font-size: 16px;
}

.search-input {
    width: 127vh;
    max-width: 100%;
}

.category-search {
    display: flex;
    justify-content: space-between;
}

.esp-top-20 {
    position: fixed;
    bottom: 0;
    right: 2px;
    width: 100%;
    text-align: end;
}

.category-view {
    padding: 12px;
}

.action-button {
    display: flex;
}

.category-list-image {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    height: 60px;
    width: 60px;
    border: 6px solid white;
    border-color: #22506C transparent #22506C transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}