<div class="spinner" *ngIf="loading">
</div>
<div class="patient-content">
    <div class="patient-title">
        <h2>Listagem de Pacientes</h2>
    </div>
    <div class="patient-search">
        <mat-card-header>
            <mat-form-field class="search-input" appearance="fill">
                <mat-icon matPrefix>search</mat-icon>
                <input matInput (keyup)="Filterchange($event)" type="text" placeholder="Pesquisar">
            </mat-form-field>
        </mat-card-header>
    </div>
    <div class="patient-view">
        <mat-card *ngIf="!loading">
            <mat-card-content>
                <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <th mat-sort-header mat-header-cell *matHeaderCellDef>Nome do paciente</th>
                        <td mat-cell *matCellDef="let element">{{element.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="age">
                        <th mat-sort-header mat-header-cell *matHeaderCellDef>Idade</th>
                        <td mat-cell *matCellDef="let element">{{element.age}}</td>
                    </ng-container>

                    <ng-container matColumnDef="service">
                        <th mat-sort-header mat-header-cell *matHeaderCellDef>Atendimento</th>
                        <td mat-cell *matCellDef="let element">{{element.service}}</td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-sort-header mat-header-cell *matHeaderCellDef>Data do atendimento</th>
                        <td mat-cell *matCellDef="let element">{{element.date}}</td>
                    </ng-container>

                    <ng-container matColumnDef="address">
                        <th mat-sort-header mat-header-cell *matHeaderCellDef>Endereço do paciente</th>
                        <td mat-cell *matCellDef="let element">{{element.address}}</td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Ação</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-button">
                                <button mat-button
                                    (click)="editPatient(element._id, element)"><mat-icon>create</mat-icon></button>
                                <button mat-button
                                    (click)="deletePatient(element._id)"><mat-icon>delete_sweep</mat-icon></button>
                            </div>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                </table>
            </mat-card-content>
            <br>
            <mat-card-footer>
                <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
            </mat-card-footer>
        </mat-card>
    </div>
    <footer class="esp-top-20">
        <mat-card>
            <mat-card-content>
                <button mat-raised-button class="button-add" (click)="createPatient()"><mat-icon>person_add</mat-icon>Criar Paciente</button>
            </mat-card-content>
        </mat-card>
    </footer>
</div>