body {
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../../../../../assets/bg1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

html,
body {
    height: 100%;
    overflow-y: auto;
}

@media (min-width: 992px) {
    .about-heading .about-heading-img {
        position: relative;
        z-index: 0;
    }

    .about-heading .about-heading-content {
        margin-top: -5rem;
        position: relative;
        z-index: 1;
    }
}

.img-fluid {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}

.bg-faded {
    background-color: #f6e1c5;
}

.section-heading {
    text-transform: uppercase;
}

.section-heading .section-heading-upper {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: block;
    font-size: 1rem;
    font-weight: 800;
}

.section-heading .section-heading-lower {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: block;
    font-size: 3rem;
    font-weight: 100;
}