<body>
    <div>
        <app-header></app-header>
    </div>
    <div class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../../../../../assets/intro.jpeg"
                alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower">Sobre mim</span>
                            </h2>
                            <p>Me chamo Samara, tenho 31 anos, sou formada em Bacharel em Fisioterapia pelo Centro
                                Universitário Católica de Quixadá desde 2017, pos graduada em Fisioterapia
                                Cardiorrespiratoria em ambulatório e UTI pela Universidade de Fortaleza e atualmente
                                estou finalizando a pos graduação em Traumato Ortopedia pelp Centro de Ensino Nacional
                                Fisio.</p>
                            <p class="mb-0">
                                Trabalhei em clinica de fisioterapia particular por 6 meses e iniciei o trabalho na área
                                hospitalar na cidade de Fortaleza. Atuei em hospitais como São Camilo Cura D'ars,
                                Waldemar de Alcantara, Hospital Regional da Unimed, entre outros. Durante a pandemia da
                                COVID - 19, atuei na linha de frente combatendo a epidemia dentro das unidades de
                                terapia intensiva. Atualmente estou atendendo em consultório próprio, com especialidade
                                em patologias do sistema respiratório, ortopédicas, além de dar aulas de pilates e atuar
                                em empresas, dando palestras e ensinando sobre ergonomia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>