<div class="motor-assesment-container">
    <div class="motor-assesment-title">
        <h3>Preenchimento de ficha de avaliação motora: </h3>
    </div>
    <div class="motor-assesment-content" style="overflow: hidden;">
        <form [formGroup]='formulario'>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span>INSPEÇÃO ESTÁTCA: </span>
                        <textarea class="form-control" formControlName="static_inspection" id="static_inspection"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span>INSPEÇÃO DINÂMICA: </span>
                        <textarea class="form-control" formControlName="static_inspection" id="static_inspection"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span>ADM: </span>
                        <textarea class="form-control" formControlName="static_inspection" id="static_inspection"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span>TÔNUS: </span>
                        <textarea class="form-control" formControlName="static_inspection" id="static_inspection"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span>FORÇA: </span>
                        <textarea class="form-control" formControlName="static_inspection" id="static_inspection"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span>PALPITAÇÃO: </span>
                        <textarea class="form-control" formControlName="static_inspection" id="static_inspection"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span>SENSIBILIDADE: </span>
                        <textarea class="form-control" formControlName="static_inspection" id="static_inspection"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span>EQUILÍBRIO: </span>
                        <textarea class="form-control" formControlName="static_inspection" id="static_inspection"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span>CORDENAÇÃO: </span>
                        <textarea class="form-control" formControlName="static_inspection" id="static_inspection"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span>MARCHA: </span>
                        <textarea class="form-control" formControlName="static_inspection" id="static_inspection"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <footer class="esp-top-20">
        <mat-card>
            <mat-card-content>
                <button mat-raised-button class="button-add"><mat-icon>person_add</mat-icon>Criar avaliação</button>
            </mat-card-content>
        </mat-card>
    </footer>
</div>