.motor-assesment-container {
    padding: 5px;
}

.form-group textarea {
    height: 100px;
}

.form-group span {
    font-size: 14PX;
    margin-left: 4px;
    font-family: 'Roboto';
    font-weight: 500;
}

.esp-top-20 {
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    right: 2px;
    width: 100%;
    text-align: end;
}

.button-add {
    background-color: #3B93C8;
    color: aliceblue;
    font-size: 16px;
}

.row {
    margin-top: 10px;
}