<body>
    <div>
        <app-header></app-header>
    </div>
    <div class="page-section about-heading">
        <div class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex" style="margin-left: 35px;">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Fisioterapia Traumato Ortopedica</span>
                                <span class="section-heading-lower">fisioterapia</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="../../../../../assets/fisio-traumato-orto.jpeg" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-4 rounded">
                            <p class="mb-0">Area da fisioterapia que visa prevenir possíveis lesões, e reabilitar
                                pacientes com lesões que por algum motivo já aconteceram de cunho traumatológico e
                                ortopedico. Além disso avalia, diagnostica e reabilita, e após uma avaliação completa e
                                minuciosa, é capaz de traçar um plano de tratamento fisioterapêutico visando uma melhora
                                na qualidade de vida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Fisioterapia Respiratoria</span>
                                <span class="section-heading-lower">Fisioterapia</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="../../../../../assets/fisio-respiratoria.jpeg" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-4 rounded">
                            <p class="mb-0">Area da fisioterapia que tem o foco em trata e reabilitar pacientes que
                                possuem patologias da área respiratória, com o intuito de melhorar a capacidade pulmonar
                                e trazer uma melhor qualidade de vida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Massagem Relaxante</span>
                                <span class="section-heading-lower">Massoterapia</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="../../../../../assets/massagem-relaxante.jpeg" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-4 rounded">
                            <p class="mb-0">Técnica que combina movimentos suaves e firmes por todo o corpo,
                                proporcionando relaxamento muscular, melhoria da circulação sanguínea, alívio de tensões
                                e estresse, além de promover bem-estar e tranquilidade.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Pedras Quentes</span>
                                <span class="section-heading-lower">Massoterapia</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="../../../../../assets/pedras-quentes.jpeg" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-4 rounded">
                            <p class="mb-0">Técnica milenar, utilizada por chineses, monges budistas e indígenas. As
                                pedras são utilizadas com a finalidade de proporcionar uma ação terapêutica para aliviar
                                a dor, relaxar a musculatura, proporcionar bem-estar e promover desintoxicação.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Ventosaterapia</span>
                                <span class="section-heading-lower">Massoterapia</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="../../../../../assets/ventosaterapia.jpeg" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-4 rounded">
                            <p class="mb-0">Tecnica que possibilita o relaxamento do corpo e da mente, fortalecimento
                                dos vasos sanguíneos, reduz dores e inflamações, melhora o fluxo sanguíneo e a
                                circulação, eliminação de contraturas musculares e pontos de tensão.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Dry Needling - Agulhamento a seco</span>
                                <span class="section-heading-lower">Massoterapia</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="../../../../../assets/dry-needling.jpeg" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-4 rounded">
                            <p class="mb-0">É uma técnica minimamente invasiva que utiliza agulha de acupuntura, a qual
                                penetra na pele e estimula o ponto gatilho, que reduz a dor. A técnica é utilizada em
                                tratamentos musculoesqueléticos, regeneração e recuperação de tecidos lesados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Massagem modeladora</span>
                                <span class="section-heading-lower">Massoterapia</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="../../../../../assets/modeladora.jpeg" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-4 rounded">
                            <p class="mb-0">Tecnica é indicada para estimular o metabolismo da região, aumentar a
                                circulação sanguínea, diminuir a retenção de líquidos e ativar respostas
                                neuromusculares, dando a sensação de um corpo mais firme após a técnica.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Reflexologia Podal</span>
                                <span class="section-heading-lower">Massoterapia</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="../../../../../assets/reflexologia.jpeg" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-4 rounded">
                            <p class="mb-0">A reflexologia podal é a aplicação de pressão em pontos dos pés, com
                                objetivos terapêuticos diversos, como alívio de dores, equilíbrio energético,
                                relaxamento e estímulo à circulação sanguínea.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Bambuterapia</span>
                                <span class="section-heading-lower">Massoterapia</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="../../../../../assets/bambuterapia.jpeg" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-4 rounded">
                            <p class="mb-0">Tecnica que combina movimentos suaves e rítmicos com a pressão controlada
                                das hastes de bambu, que podem ter diferentes tamanhos e diâmetros. Dessa forma, são
                                estimulados pontos específicos do corpo para trazer alívio das tensões musculares e
                                relaxamento mental.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>