html,
body {
    height: 100%;
    overflow-y: auto;
}

body {
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../../../../../assets/bg1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.page-section {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.section-heading {
    text-transform: uppercase;
}

.section-heading .section-heading-upper {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: block;
    font-size: 1rem;
    font-weight: 800;
}

.section-heading .section-heading-lower {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: block;
    font-size: 3rem;
    font-weight: 100;
}

.me-auto {
    margin-right: auto !important;
}

.ms-auto {
    margin-left: auto !important;
}

.ms-5 {
    margin-left: 3rem !important;
}

.bg-faded {
    background-color: #f6e1c5;
}

.d-flex {
    display: flex !important;
}

.product-item img {
    width: 800px;
    height: 800px;
}

@media (min-width: 992px) {
    .product-item .product-item-title {
        position: relative;
        z-index: 1;
        margin-bottom: -3rem;
    }

    .product-item .product-item-img {
        position: relative;
        z-index: 0;
        max-width: 60vw;
    }

    .product-item .product-item-description {
        position: relative;
        z-index: 1;
        margin-top: -3rem;
        max-width: 50vw;
    }
}