<body>
    <div>
        <app-header></app-header>
    </div>
    <div class="page-section about-heading">
        <div class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Pompagem de trapézio para redução de dor</span>
                                <span class="section-heading-lower">fisioterapia</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="../../../../../assets/service-01.jpeg" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded">
                            <p class="mb-0">A dor no trapézio é uma queixa comum, muitas vezes associada a tensões
                                musculares e postura inadequada. A técnica de pompagem de trapézio é uma forma eficaz de
                                reduzir essa dor e promover o relaxamento muscular.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Massagem relaxante para alívio da lombalgia em
                                    gestantes</span>
                                <span class="section-heading-lower">Massoterapia</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="../../../../../assets/service-02.jpeg" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded">
                            <p class="mb-0">A lombalgia é uma queixa comum durante a gravidez devido ao aumento do peso
                                abdominal e às alterações na postura. A massagem relaxante pode ser uma excelente aliada
                                no alívio desse desconforto.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Liberação miofascial lombar para alívio da lombalgia em gestantes</span>
                                <span class="section-heading-lower">Massoterapia</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="../../../../../assets/service-03.jpeg" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded">
                            <p class="mb-0">A técnica de liberação miofascial lombar é realizada por um fisioterapeuta
                                ou massoterapeuta qualificado e pode incluir pressão manual sobre os pontos de tensão,
                                alongamentos suaves e técnicas de relaxamento.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Tração cervical</span>
                                <span class="section-heading-lower">Fisioterapia</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="../../../../../assets/service-04.jpeg" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded">
                            <p class="mb-0">Tração cervical para redução de cervicalgia devido sobrecarga de peso no ambiente de trabalho</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>